extends layout

block content
    .row
        .col-md-12
            .row
                .col-md-4.col-md-offset-4
                    .text-center.green-text.login-title FUNdRun
                    form(role="form")
                        .form-group
                            input(placeholder="Username").text-center.center-block.form-control
                        .form-group
                            input(placeholder="Password", type="password").text-center.center-block.form-control
                        .form-group
                            h4.login-description.text-center Create a RazorID or use you Facebook profile
                            a(href="/user", role="button").btn.btn-primary.btn-lg.login-button Login
                            
