doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='javascripts/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/chargeCard.js')
    script(src='javascripts/createToken.js')
    script(src='https://www.simplify.com/commerce/v1/simplify.js')
  body
    block content
        
            